client/node_modules/**
admin/node_modules/**
npm-debug.log*
client/build/*
admin/build/*
**/.sass-cache
.sass-cache
.idea/*
translations.zip

.history
.DS_Store
/vendor
.idea/
.bundle
-s
-t
.yardoc/
doc/
*.log
report.*.json